[flake8]
max-line-length = 88
max-complexity = 10
ignore = E203, W503, D100, D103, D200, D400
exclude =
    .git,
    __pycache__,
    .venv/*,
    venv/*,
    build,
    dist,
    *.egg-info,
    htmlcov,
    .pytest_cache,
    .mypy_cache
per-file-ignores =
    test_*.py:F401,F811
